<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navigation' %>

  <% if controller.controller_name == "welcome" %>
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Welcome to my Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo pariatur voluptatum labore quia quisquam velit, ullam animi facere, excepturi, totam dolore odit, recusandae blanditiis illum error temporibus natus odio unde.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

  <% else %>
    <div class="page-header">
      <div class="clearfix"></div>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
